@use '_Common';

.l-view {
    text-align: center;
    .section {
        &-report {
            padding: 150px 0 0;
            .inner {
                word-break: keep-all;
            }
            
            .tit-line {
                margin-top: 20px;
                font-weight: 800;
                font-size: 2rem;
                text-decoration: underline;
                margin-bottom: 50px;
                color: Common.$pointColor;
            }
            .round-box {
                padding: 40px 60px;
                border-radius: 999px;
                background: Common.$bgColor;
                width: fit-content;
                margin: 0 auto 10px;
                p {
                    font-size: 1.5rem;
                    line-height: 1.5;
                    strong {
                        font-weight: 700;
                    }
                }
            }
            small {
                font-size: 0.875rem;
            }
            .cont {
                margin-top: 100px;
                h4 {
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 30px;
                }
                .total {
                    width: 450px;
                    height: 450px;
                    border-radius: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .total-inner {
                        position: absolute;
                    }
                    p {
                        font-size: 1.5rem;
                        font-weight: 600;
                        &.score {
                            font-size: 6rem;
                            font-weight: 800;
                            color: Common.$pointColor;
                            span {
                                font-size: 2rem;
                                color: #000;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .comment {
                    font-size: 1.2rem;
                    margin: 40px 0 20px;
                    strong {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
                .gpt-answer {
                    width: 50%;
                    margin: 0 auto;
                    line-height: 1.5;
                    word-break: keep-all;
                }

                .box {
                    display: flex;
                    justify-content: center;
                    > div {
                        width: 300px;
                        height: 250px;
                        border-radius: 10px;
                        border: 1px solid Common.$borderColor;
                        text-align: center;
                        padding: 25px;
                        word-break: keep-all;
                        + div {
                            margin-left: 20px;
                        }
                        .key {
                            position: relative;
                            font-weight: 600;
                            font-size: 1.2rem;
                            &::after {
                                position: absolute;
                                content: '';
                                background: Common.$borderColor;
                                width: 15%;
                                height: 1px;
                                left: 50%;
                                bottom: -25px;
                                transform: translate(-50%);
                            }
                        }
                        .value {
                            margin-top: 70px;
                            line-height: 1.5;
                        }
                    }
                }
            }
            
            
        }
        .bg {
            padding: 100px 0;
            background: Common.$bgColor;
            margin-top: 120px;
            .btn-advisor {
                position: relative;
                background: Common.$pointColor;
                color: #fff;
                border-radius: 10px;
                cursor: pointer;
                width: 450px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 2px 7px rgba(0,0,0,0.4);
                margin: 0 auto 10px;
                transition: 0.2s;
                >div {
                    // margin-right: 40px;
                    strong {
                        display: block;
                        font-size: 1.25rem;
                        margin-bottom: 5px;
                        font-weight: 600;
                    }
                    span {
                        font-size: 0.875rem;
                        vertical-align: middle;
                    }
                    svg {
                        vertical-align: middle;
                    }
                }
                .icon-arrow {
                    position: absolute;
                    right: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 32px;
                }
                &:hover {
                    background: Common.$pointHover;
                }
            }
            .markdown-viewer {
                width: 50%;
                margin: 0 auto;
                word-break: keep-all;
                line-height: 1.4;
                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                h3, h4:first-of-type {
                    font-size: 1.25rem;
                    text-decoration: underline;
                    margin-bottom: 10px;
                    &:first-of-type {
                        font-size: 1.3rem;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
                ol {
                    width: fit-content;
                    margin: 0 auto 50px;
                    li {
                        list-style: auto;
                        width: fit-content;
                        margin: 0 auto;
                    }
                }
                ul {
                    margin-bottom: 30px;
                    li {
                        strong {
                            font-weight: 500;
                        }
                    }
                }
                p {
                    &:last-of-type {
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }
        }
        
    }
    
    @media (max-width: Common.$tablet){
        .section-report {
            .tit-line {
                font-size: 1.75rem;
                margin-bottom: 40px;
            }
            .round-box {
                padding: 30px 50px;
                p {
                    font-size: 1.25rem;
                }
            }
            .cont {
                margin-top: 80px;
                h4 {
                    font-size: 1.25rem;
                }
                .total {
                    width: 400px;
                    height: 400px;
                    p {
                        font-size: 1.25rem;
                        &.score {
                            font-size: 5rem;
                            span {
                                font-size: 1.75rem;
                            }
                        }
                       
                    }
                }
                .gpt-answer {
                    width: 80%;
                }
            }
        }
    }
    @media (max-width: Common.$mobile2){
        .section {
            &-report {
                padding: 120px 0 0;
                .round-box {
                    padding: 20px 30px;
                    p {
                        font-size: 1rem;
                    }
                }
                .cont {   
                    .box {
                        flex-direction: column;
                        align-items: center;
                        > div {
                            &+div {
                                margin-top: 20px;
                                margin-left: 0;
                            }
                        }
                    }
                    .total {
                        width: 100%;
                        height: 335px;
                    }
                    .gpt-answer {
                        width: 100%;
                    }
                    
                }
            }
            .bg {
                margin-top: 100px;
                padding: 80px 0;
                .btn-advisor {
                    width: 100%;
                    >div {
                        strong {
                            font-size: 1rem;
                        }
                        span {
                            font-size: 0.875rem;
                        }
                    }
                    .icon-arrow {
                        right: 20px;
                        font-size: 24px;
                    }
                }
            }
        } 
    }
}