header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  z-index: 1000;
}
header .inner {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inner > div p {
  font-size: 20px;
  font-family: "Pretendard", sans-serif;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
header .inner > div p strong {
  font-weight: 700;
  margin-right: 5px;
}
header .inner > div p a, header .inner > div p button {
  font-family: "Pretendard", sans-serif;
  line-height: 1.5;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}
header .inner > div p svg {
  vertical-align: middle;
  margin: 0 5px;
}
header .inner > div .coin-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
header .inner > div span {
  display: block;
  width: 1px;
  height: 16px;
  background: #000;
  margin: 0 20px;
}
header .inner > div a {
  font-size: 14px;
}
header .inner > div button {
  cursor: pointer;
}
header .inner > div .btn-logout {
  font-size: 14px;
  border-radius: 999px;
  background: #013A72;
  color: white;
  padding: 6px 12px;
  margin-left: 20px;
}
header .inner > div .btn-menu {
  display: none;
  width: 30px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
header .inner > div .btn-menu span {
  display: block;
  margin: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .inner > div .btn-menu span:nth-of-type(2) {
  margin: 7px auto;
}

main {
  padding-top: 68px;
  min-height: calc(100vh - 132px);
}

footer {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 24px;
}
footer a + a {
  margin-left: 15px;
}
footer small {
  display: block;
  font-size: 12px;
}
footer small strong {
  font-weight: 600;
}

@media (max-width: 1023px) {
  header .inner > div p, header .inner > div button, header .inner > div span {
    display: none;
  }
  header .inner > div .btn-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  header .inner {
    height: 58px;
  }
  header .inner .logo {
    width: 85px;
  }
  header .inner .logo a {
    display: block;
  }
  header .inner > div .btn-menu {
    width: 25px;
    height: 25px;
  }
  main {
    padding-top: 58px;
    min-height: calc(100vh - 92px);
  }
  footer {
    padding: 20px 0;
  }
}