body {
  font-family: "Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif";
}

main {
  padding-top: 68px;
}

.inner {
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.sub-tit {
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 1439px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }
}