@use '_Common';

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
    color: Common.$black;
}

.inner {
    width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.sub-tit {
    font-size: 3rem;
    font-weight: 700;
}

@media (max-width: Common.$desktop) {
    .inner {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: Common.$tablet) {
    .sub-tit {
        font-size: 2.5rem;
    }
}

@media (max-width: Common.$mobile) {
    .sub-tit {
        font-size: 2rem;
    }
}