header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #000;
}

header .inner {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner > div p strong {
  font-size: 20px;
  font-weight: 700;
}

header .inner > div span {
  display: block;
  width: 1px;
  height: 16px;
  background: #000;
  margin: 0 20px;
}

header .inner > div a {
  font-size: 14px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 12px;
  height: 128px;
}
